---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
    {
        company: 'FreeLancer',
        title: 'Software engineer',
        date: '2022-06-01',
        endDate: '',
        description:
            'crafting custom code, building websites or applications tailored to client needs, troubleshooting technical issues, and effectively communicating to understand and meet project requirements.',
        highlights: ['Started the company'],
    },
];
---

<ol class='relative mt-16'>
    {
        EXPERIENCE.map((experience) => (
            <li class=''>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
