---
import ExperienceItem from './ExperienceItem.astro';
import { en } from '@/i18n/en';
import { es } from '@/i18n/es';
import type { i18nUI } from '@/i18n/i18n.type';
import type { Languages } from '@/i18n/Language';

const lang: Languages = Astro.props.lang ?? 'en';

const translations = { es, en };
const { experiences }: i18nUI = translations[lang];
---

<ol class='relative mt-16'>
    {
        experiences.experience.map((experience) => (
            <li>
                <ExperienceItem {...experience} present={experiences.present} />
            </li>
        ))
    }
</ol>
